.menu {
  padding: 10px 0;
  background-color: #000;
  border-bottom: solid 2px var(--grey);
}

.menu .container {
  display: flex;
  align-items: center;
}

.menu__logo {
  display: flex;
  align-items: center;
  color: #fff !important;
  text-decoration: none;
}

.menu__logo p {
  font-size: 2.4rem;
  margin-left: 10px;
}

.menu__logo p span {
  color: var(--blue);
}

.menu__logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.menu__nav {
  margin: 0 50px;
}
.nav__list {
  display: flex;
}
.nav__item {
  text-transform: uppercase;
  margin-right: 10px;
  padding: 10px 20px;
}

.nav__item a {
  color: var(--grey);
  text-decoration: none;
}

.nav__item .nav__item--active {
  color: #fff;
}

.menu__search {
  position: relative;
}

.menu__search input {
  width: 200px;
  padding: 10px 18px;
  outline: none;
  border-radius: 30px;
  background-color: var(--background-dark);
  border: 2px solid var(--grey);
  color: var(--grey);
  transition: 0.2s linear;
}

.menu__search input:focus {
  border-color: #fff;
}

.menu__search button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  top: 4px;
  padding: 0;
}

.menu__icon-menu-phone {
  display: none;
  margin-right: 20px;
  z-index: 9999;
}

.no-scroll {
  overflow-y: hidden;
}

@media only screen and (max-width: 1040px) {
  .menu__search input {
    width: 150px;
  }
  .menu__nav {
    margin: 0 10px;
  }
  .nav__item {
    padding: 10px;
  }
  .menu__logo p {
    font-size: 2rem;
  }
  .nav__item a {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 753px) {
  .menu__icon-menu-phone {
    display: inline-block;
  }
  .menu__nav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background: #fff;
    width: 50%;
    margin: 0;
    transition: all 0.2s linear;
    transform: translateX(-100%);
  }
  .nav__list {
    padding-top: 50px;
    position: relative;
  }
  .nav__list::after {
    content: "MENU";
    display: block;
    color: #000;
    padding: 10px;
    position: absolute;
    top: 25px;
    transform: translateY(-50%);
  }
  .nav__item a.nav__item--active {
    color: var(--blue);
  }
  .menu__nav.menu__nav--open {
    transform: translateX(0);
  }
  .nav__list {
    display: block;
  }
  .menu__logo {
    margin-right: auto;
  }
}

@media only screen and (max-width: 446px) {
  .menu__search {
    display: none;
  }
}
