.rating-star {
  font-size: 1.3rem;
  padding: 2px 4px;
  border-radius: 40px;
  border-width: 2px;
  border-style: solid;
  font-weight: 300;
}

.rating-star.rating-star__primary {
  background-color: var(--blue);
  color: #fff;
  border-color: var(--blue);
}

.rating-star.rating-star__secondary {
  background-color: transparent;
  color: var(--blue);
  border-color: var(--blue);
}
